$col: column;
$primary-color:#dc7b46;
$primary-dark:#5f280b;
$primary-bg: #876c5f;
$secondary-color: #704b38;
$chat-bg: #b69a8c;
$reddish: rgb(157, 65, 65);

@mixin centered-flex ($direction:row, $gap:10px){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
    gap: $gap;
}


.form-box{
    background-color: $primary-color;
    height: 100vh;
    @include centered-flex();

    .form-wrapper{
        background-color: rgb(26, 23, 23);
        padding: 2% 3%;
        border-radius: 15px;
        box-shadow: 5px 5px 5px $secondary-color;
        @include centered-flex($col, 15px);

        .logo{
            font-size: 25px;
            line-height: 1.1;
            color: $primary-color;
            font-weight: bold;
        }

        .wrapper-title{
            font-size: 1em;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 10px;
                border-radius: 5px;
                width: 300px;
                &::placeholder{
                    color: #888888;
                }
            }
            
            #file{
                display: none;
            }
            label{
                @include centered-flex();
                justify-content: flex-start;
                color: #888888;
                font-size: 12px;

                #upload{
                    cursor: pointer;
                    border-radius: 5px;
                    width:50px;
                }

            }
            span{
                font-size: 12px;
            }
            
            
        }
        p{
            color: $primary-color;
        }
        button {
            border-radius: 5px;
            border: 1px solid transparent;
            padding: 0.6em 1.2em;
            font-size: 1em;
            font-weight: 500;
            font-family: inherit;
            background-color: #704b38;
            cursor: pointer;
            transition: border-color 0.25s;
            color: white;
            }

        button:hover {
            border-color: #caa916;
        }
    }
}

.home{
    background-color: $primary-bg;
    height: 100vh;
    @include centered-flex();

    .container{
        border: 1px solid lightgrey;
        border-radius: 5px;
        width: 70%;
        height: 80%;
        display: flex;
        overflow: hidden;

        .sidebar{
            flex: 1;
            background-color: $secondary-color;
            overflow: hidden;

            .navbar{
                @include centered-flex();
                justify-content: space-between;
                background-color:$primary-dark;
                padding: 4% 2%;

                .logo{
                    font-weight: bold;
                }
                .user{
                    @include centered-flex();
                }
                img{
                    background-color: red;
                    height: 25px;
                    width: 25px;
                    border-radius: 10%;
                    object-fit: cover;
                }

                button{
                    background-color: $primary-color;
                    color: black;
                    border: none;
                    cursor: pointer;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
            .search{
                
                border-bottom: 1px solid grey;
                .find{
                    padding: 1%;
                    input{
                        border: none;
                        width: 100%;
                        background-color: transparent;
                        outline: none;
                    }
                    
                }
            }
            .users{
                @include centered-flex();
                justify-content: flex-start;
                cursor: pointer;
                padding: 2%;

                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    object-fit: cover;
                }

                &:hover{
                    background-color: $primary-dark;
                    
                }
                .users-info{
                    span{
                        font-size: 15px;
                        margin: 0px;
                    }
                    p{
                        font-size: 12px;
                        margin: 0px;
                        color: darkgrey;
                    }
                }
            }
        }

        .chatarea{
            flex: 2;
            background-color: $chat-bg;

            .chat-nav{
                background-color: $secondary-color;
                padding: 2%
            }
            
            .messages{
                padding: 10px;
                height: calc(100% - 122px);
                overflow-y:scroll;

                .message{
                    
                    display:flex;
                    // flex-direction: row-reverse;
                    gap: 10px;

                    .message-meta{
                        @include centered-flex(column, 4px);
                        align-items: flex-start;
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 5px;
                            object-fit: cover;
                        }
                        
                        span{
                            font-size: 10px;
                            color: lightgray;
                        }

                    }

                    .message-content{
                        @include centered-flex(column);
                        max-width: 75%;

                        p{
                            background-color: white;
                            color: black;
                            padding: 1% 10px;
                            border-radius: 0 5px 5px 5px;
                            box-sizing: border-box;
                        }

                        img{
                            width: 45%;

                        }
                    
                    }
                    &.origin{
                        flex-direction: row-reverse;

                        .message-content{
                            align-items: flex-end;
                            p{
                                background-color: $primary-color;
                                color: white;
                                padding: 1% 10px;
                                border-radius: 5px 0 5px 5px;
                                box-sizing: border-box;
                            }
                        }
                        
                        
                    }
                }
                
            }

            .input{
                height: 60px;
                background-color: $reddish;
                @include centered-flex();
                justify-content: space-between;
                padding: 0 2%;
                
                input{
                    height: 50%;
                    width: 100%;
                    outline: none;
                    font-size: large;
                    border-radius: 5px;
                }
                
                .send{
                    display: flex;
                    gap: 10px;
                    font-size: 12px;

                    #file{
                        display: none;
                    }
                    label:hover{
                        cursor: pointer;
                    }

                    button{
                        margin: 2%;
                        border-radius: 5px;
                        // padding: 2%;
                        border: none;
                    }
                    button:hover{
                        cursor: pointer;
                        background-color: $primary-color;
                        transition:background-color 0.5s;
                    }
                }
            }
        }
    }
}